elastic-transport
elasticsearch
faiss-cpu
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
langchain
langchain-community
langchain-core
langchain-experimental
langchain-google-genai
langchain-openai
langchain-text-splitters
langchainhub
langdetect
langsmith
matplotlib
matplotlib-inline
mdit-py-plugins
nltk
numpy
openai
pandas
platformdirs
prometheus_client
prompt-toolkit
pypdf
python-dotenv
python-iso639
python-json-logger
seaborn
types-urllib3
yarl
zipp
sentence-transformers
