elastic-transport==8.12.0
elasticsearch==8.12.1
faiss-cpu==1.8.0
google-ai-generativelanguage==0.6.2
google-api-core==2.18.0
google-api-python-client==2.125.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-generativeai==0.5.2
googleapis-common-protos==1.63.0
langchain==0.1.14
langchain-community==0.0.31
langchain-core==0.1.46
langchain-experimental==0.0.56
langchain-google-genai==1.0.3
langchain-openai==0.1.1
langchain-text-splitters==0.0.1
langchainhub==0.1.15
langdetect==1.0.9
langsmith==0.1.40
matplotlib==3.8.3
matplotlib-inline==0.1.6
mdit-py-plugins==0.4.0
nltk==3.8.1
numpy==1.26.4
openai==1.14.2
pandas==2.2.1
platformdirs==4.2.0
prometheus_client==0.20.0
prompt-toolkit==3.0.43
pypdf==4.2.0
python-dotenv==1.0.0
python-iso639==2024.2.7
python-json-logger==2.0.7
seaborn==0.13.2
types-urllib3==1.26.25.14
yarl==1.9.4
zipp==3.18.1
